@import 'variables/variables.css';
@import 'variables/reset.css';
@import 'components/header.css';
@import 'pages/home.css';
@import 'components/footer.css';
@import 'pages/services.css';
@import 'pages/gallery.css';
@import 'pages/about.css';
@import 'pages/contact.css';