<section id="home3" class="container-home3">
    <div class="home-images-container swiper-container">
        <h1 class="home-images-title">RETAPIȚĂRI</h1>
        <div class="swiper-wrapper">
            <!-- Your before-after slides here -->
            <div class="swiper-slide">
                <div class="image-frame">
                    <img src="assets/images/Retapitari/scaune/inainte.jpg" alt="Imagine Înainte" loading="lazy">
                    <p class="before-after-label">Înainte</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-frame">
                    <img src="assets/images/Retapitari/Scaune/dupa.jpg" alt="Imagine Înainte" loading="lazy">
                    <p class="before-after-label">Dupa</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-frame">
                    <img src="assets/images/Retapitari/Coltare/inainte2.jpg" alt="Imagine Înainte" loading="lazy">
                    <p class="before-after-label">Înainte</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-frame">
                    <img src="assets/images/Retapitari/Coltare/dupa2.jpg" alt="Imagine Înainte" loading="lazy">
                    <p class="before-after-label">Dupa</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-frame">
                    <img src="assets/images/Retapitari/Canapele/inainte1.jpg" alt="Imagine Înainte" loading="lazy">
                    <p class="before-after-label">Înainte</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-frame">
                    <img src="assets/images/Retapitari/Canapele/dupa1.jpg" alt="Imagine Înainte" loading="lazy">
                    <p class="before-after-label">Dupa</p>
                </div>
            </div>
        </div>
    </div>
</section>