<section id="home2" class="container-home2">
    <div class="home-images-container swiper-container">
        <h1 class="home-images-title">PRODUSE NOI</h1>
        <div class="swiper-wrapper">
            <!-- Your swiper slides here -->
            <div class="swiper-slide">
                <div class="image-frame">
                    <img src="assets/images/Produse noi/Paturi/imagine1.jpg" alt="Imagine 1" loading="lazy">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-frame">
                    <img src="assets/images/Produse noi/Paturi/imagine2.jpg" alt="Imagine 1" loading="lazy">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-frame">
                    <img src="assets/images/Produse noi/Coltare/imagine3.jpg" alt="Imagine 1" loading="lazy">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-frame">
                    <img src="assets/images/Produse noi/Coltare/imagine5.jpg" alt="Imagine 1" loading="lazy">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-frame">
                    <img src="assets/images/Produse noi/Canapele/Media (18).jpg" alt="Imagine 1" loading="lazy">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-frame">
                    <img src="assets/images/Produse noi/Alte Produse/Media (24).jpg" alt="Imagine 1" loading="lazy">
                </div>
            </div>
        </div>

    </div>
</section>