<section id="home2" class="container-home2">
    <div class="recent-product-container">
        <h1 class="home-images-title">CEL MAI RECENT PRODUS</h1>
        <div class="video-container">
            <div class="video-wrapper">
                <video class="responsive-video" controls>
                    <source src="assets/videos/MicrosoftTeams-video.mp4" type="video/mp4">
                    Browser-ul tău nu suportă tag-ul video.
                </video>
            </div>
        </div>
    </div>
</section>