* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(fundal1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffe4b5;
    line-height: 1.6;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 92%;
    margin: auto;
    max-width: 1200px;
}

/* Stiluri generale pentru layout */
header {
    background: #ffe4b5;
    color: #191970;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    max-width: 150px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: #191970;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    background-color: #191970;
    color: #ffe4b5;
}




/* CSS pentru footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #ffe4b5;
    color: #191970;
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: 100%;
    overflow: hidden;
}

.footer-container p {
    font-size: 16px;
    margin: 5px 0;
    font-weight: bold;
}

.footer-content {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.footer-contact-box, .social-media-box {
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer .social-media-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.social-button {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #191970;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffe4b5;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.social-button:hover {
    background-color: #191970;
    color: #ffe4b5;
}
