<header>
    <div class="container">
        <section class="top-bar">
            <div class="logo">
                <img src="../../assets/images/logo.png" alt="Tapiterie B&B Logo">
            </div>
            
            <!-- Add hamburger button -->
            <button class="hamburger" id="hamburger-menu" aria-label="Menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            
            <nav class="navbar" id="main-nav">
                <ul>
                    <li><a href="../../index.html">Acasă</a></li>
                    <li><a href="../pages/servicii.html">Servicii</a></li>
                    <li><a href="../pages/galerie.html">Galerie</a></li>
                    <li><a href="../pages/desprenoi.html">Despre noi</a></li>
                    <li><a href="../pages/contact.html">Contact</a></li>
                </ul>
            </nav>
        </section>
    </div>
</header>