/* Home containers */
.container-home1, 
.container-home2 {
    color: var(--primary-color);
    margin: var(--spacing-md) auto;
    border-radius: var(--border-radius);
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}

/* Welcome section */

.home-text-box {
    max-width: 600px;
    width: 100%;
    background-color: var(--overlay-bg);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: var(--spacing-md) auto;
    text-align: center;
}

.home-text {
    h1 {
        font-size: var(--font-size-xl);
        font-weight: bold;
        margin-bottom: var(--spacing-sm);
    }

    h2 {
        font-size: var(--font-size-lg);
        margin-bottom: var(--spacing-sm);
    }

    .cta {
        display: inline-block;
        padding: var(--spacing-md) var(--spacing-lg);
        background-color: var(--primary-color);
        color: var(--secondary-color);
        text-decoration: none;
        border-radius: var(--border-radius);
        transition: background-color var(--transition-speed) ease;

        &:hover {
            background-color: #4040a1;
        }
    }
}
/* Image Slider Section */
.home-images-container {
    text-align: center;
    padding: var(--spacing-lg) var(--spacing-md);
    border-radius: var(--border-radius);
    max-width: 100%;
    margin: var(--spacing-md) auto;
    box-shadow: var(--box-shadow);
}

.home-images-title {
    color: var(--secondary-color);
    font-size: var(--font-size-xl);
    margin-bottom: var(--spacing-md);
}

.home-images-container {
    .image-frame {
        position: relative;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        padding: var(--spacing-sm);
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);

        img {
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
            object-fit: cover;
        }
    }
}

.before-after-label {
    position: absolute;
    bottom: var(--spacing-sm);
    left: var(--spacing-sm);
    background-color: var(--overlay-bg);
    color: var(--secondary-color);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--border-radius);
    font-size: var(--font-size-md);
    font-weight: bold;
    z-index: 1;
    pointer-events: none;
}
/* Recent Products Section */
.recent-product-container {
    margin-top: var(--spacing-lg);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--primary-color);
    transition: box-shadow var(--transition-speed) ease;
    position:relative;
    &:hover {
        box-shadow: var(--box-shadow-hover);
    }

    h2 {
        font-size: var(--font-size-lg);
        margin-bottom: var(--spacing-md);
        color: var(--primary-color);
    }
}

.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.responsive-video {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    
}

@media (max-width: 992px) {
    .home-text-box {
        max-width: 90%;
    }

    .home-images-container .image-frame {
        width: 250px;
        height: 250px;
    }

    .video-wrapper {
        max-width: 90%;
    }
}

@media (max-width: 576px) {
    .home-text h1 {
        font-size: var(--font-size-lg);
    }

    .home-text h2 {
        font-size: var(--font-size-md);
    }

    .home-images-container .image-frame {
        width: 200px;
        height: 200px;
    }
}