<section class="container-services">
    <div class="services-content">
        <h2 class="services-title">RETAPIȚĂRI</h2>
        
        <div class="service-box">
            <div class="before-after-images">
                <img src="../../assets/images/Retapitari/canapele/inainte1.jpg" alt="Înainte" class="service-image">
                <img src="../../assets/images/Retapitari/canapele/dupa1.jpg" alt="După" class="service-image">
            </div>
            <div class="service-content">
                <h3>Retapițări Canapele</h3>
                <p>Oferim servicii de retapițare pentru toate tipurile de canapele, redându-le aspectul nou și confortul dorit.</p>
            </div>
        </div>

        <div class="service-box">
            <img src="../../assets/images/Retapitari/Scaune/inainte.jpg" alt="Retapițări Canapele" class="service-image">
            <img src="../../assets/images/Retapitari/Scaune/dupa.jpg" alt="Retapițări Canapele" class="service-image">
            <div class="service-content">
                <h2>Retapițări Scaune</h2>
                <p>Recondiționăm scaune de toate tipurile, oferindu-le un nou aspect și prelungindu-le durata de viață.</p>
            </div>
        </div>

        <div class="service-box">
            <img src="../../assets/images/Retapitari/Coltare/inainte2.jpg" alt="Retapițări Canapele" class="service-image">
            <img src="../../assets/images/Retapitari/Coltare/dupa2.jpg" alt="Retapițări Canapele" class="service-image">
            <div class="service-content">
                <h2>Retapițări Colțare</h2>
                <p>Reînnoim colțarele dvs., fie că sunt fixe sau extensibile, pentru a le oferi un aspect fresh și modern.</p>
            </div>
        </div>

        <div class="service-box">
            <img src="../../assets/images/Retapitari/Auto/Media (6).jpg" alt="Retapițări Canapele" class="service-image">
            <img src="../../assets/images/Retapitari/Auto/Media (7).jpg" alt="Retapițări Canapele" class="service-image">
            <div class="service-content">
                <h2>Retapițări Auto</h2>
                <p>Transformăm interiorul mașinii dvs. prin retapițarea scaunelor auto, redându-le eleganța și confortul inițial.</p>
            </div>
        </div>
    </div>
        
    </div>
</section